.container {
  display: flex;
  background-color: aliceblue;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: center;
  /* justify-items: center; */
  gap: 5px;
  padding: 20px;
  flex-wrap: wrap;
}

.red,
.blue,
.greenyellow,
.black,
.green,
.yellow,
.pink,
.orange,
.aqua,
.chartreuse,
.chocolate,
.brown {
  width: 100px;
  height: 100px;
  border: whitesmoke solid 5px;
}
.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.greenyellow {
  background-color: greenyellow;
}
.black {
  background-color: black;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.aqua {
  background-color: aqua;
}
.chocolate {
  background-color: chocolate;
}

.chartreuse {
  background-color: chartreuse;
}

.brown {
  background-color: brown;
}
